.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin: 0 0;
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax__layer {
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--foreground {
  transform: translateZ(-0.5px) scale(1.5);
}
.parallax__layer--content {
  transform: translateZ(-1px) scale(2);
}
.parallax__layer--background {
  transform: translateZ(-2px) scale(3);
}
.container {
  margin: 0 auto;
  padding: 50px 40px;
  max-width: 1536px;
}

@mixin slide($offset, $distance) {
  @for $i from 0 to 3 {
    .table-wrapper:nth-child(#{$i+1}) {
      transform: translateX(($i - $offset) * $distance + px);
    }
  }
}

section#hero {
  width: 100%;
  color: white;
  img {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
  }
  .ball {
    margin-top: 300px;
    pointer-events: none;
  }
  .content-container {
    width: 100%;
    background-image: linear-gradient(to bottom, #000, transparent, transparent);
  }
  .content-wrapper {
    padding-left: 40px;
    max-width: 60%;
    width: 100%;
    font-size: 24px;
  }
  h1 {
    font-size: 4em;
    margin: 1.25em 0 0.5em;
    font-weight: bold;
    letter-spacing: -0.025em;
  }
  p {
    margin: 0;
    line-height: 1.5em;
  }
  .description {
    position: relative;
    max-width: max-content;
    i {
      color: #bdbdbd;
      position: absolute;
      bottom: 0;
      right: 3em;
    }
  }
  button {
    display: flex;
    padding: 0;
    margin-top: 1em;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 150ms;
    color: #9e9e9e;
    i {
      font-size: 0.75em;
      color: #757575;
      transition: all 150ms;
      margin: 0.25em 0 0 0.5em;
    }
    &:hover {
      color: #e0e0e0;
      i {
        color: #e0e0e0;
        transform: translateY(0.15em);
      }
    }
  }
}

section#body {
  margin-top: 480px;
  .svgWave{
    width: 100%;
  }
  main {
    background: #fff;
    margin-top: -5px;
  }
  h2 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 36px;
    letter-spacing: -0.025em;
    span {
      font-size: 0.75em;
      font-weight: 500;
      color: #9e9e9e;
    }
  }
  .selector {
    padding: 0;
    margin: 0;
    display: grid;
    font-size: 24px;
    gap: 1em;
    list-style: none;
    position: relative;
    align-items: center;
    span {
      position: absolute;
      z-index: 0;
      height: 100%;
      background-image: linear-gradient(to bottom right, #f5f5f5, #eceff1);
      border-radius: 50px;
      transition: all 400ms;
      top: 0;
      left: 0;
    }
    li {
      z-index: 1;
    }
    button {
      font-weight: 500;
      cursor: pointer;
      padding: 0.5em 1em;
      border-radius: 50px;
      border: none;
      background: none;
      color: #9e9e9e;
      transition: all 400ms;
      &:hover {
        color: #212121;
      }
      &.active {
        color: #000;
      }
    }
  }
  .overview {
    margin: 0 auto;
    width: max-content;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    font-size: 18px;
    .selector {
      margin: 0.5em 0;
      grid-template-columns: repeat(3, auto);
      span {
        &.batting {
          width: 29%;
        }
        &.bowling {
          width: 30%;
          transform: translateX(114%);
        }
        &.fielding {
          width: 30%;
          transform: translateX(233%);
        }
      }
    }
    .table-slider {
      width: 50em;
      height: 22.25em;
      display: flex;
      align-items: center;
      overflow-x: hidden;
      transition: all 100ms;
      position: relative;
      &.batting {
        @include slide(0, 1000);
      }
      &.bowling {
        @include slide(1, 1000);
      }
      &.fielding {
        @include slide(2, 1000);
      }
    }
    .table-wrapper {
      width: 100%;
      position: absolute;
      transition: all 400ms;
      margin-top: -2.25em;
    }
    table {
      font-size: 1em;
      margin: 0 auto;
      padding: 0.5em;
      border-radius: 0.5em;
      border: 1px solid #eee;
      opacity: 0;
      transform: scale(0.9);
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      transition: all 100ms;
      &.active {
        opacity: 1;
        transform: none;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        transition: all 400ms;
      }
      th, td {
        padding: 0.5em;
        text-align: center;
        &.left {
          text-align: left;
        }
      }
      span {
        font-size: 0.8em;
        color: #616161;
      }
    }
  }
  .odi-stats {
    min-width: 0;
    width: max-content;
    margin: 0 auto;
    padding-bottom: 24px;
    .group-selector {
      margin: 0 auto 36px;
      display: flex;
      width: max-content;
      align-items: center;
      font-size: 20px;
      .selector {
        margin: 10px 0 10px 0.5em;
        grid-template-columns: auto auto;
        gap: 0;
        span {
          &.year {
            width: 36%;
          }
          &.opposition {
            width: 60%;
            transform: translateX(64%);
          }
        }
      }
    }
    .content-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;
    }
    .content {
      min-width: 0;
      font-size: 16px;
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      gap: 1.25em;
      h3 {
        font-size: 1.375em;
        margin: 0.25em 0 1em 0;
      }
    }
    .line-chart {
      max-width: 600px;
      min-width: 0;
      width: 100%;
      height: 12.5em;
      resize: none;
    }
    .pie-chart {
      max-width: 400px;
      min-width: 0;
      width: 100%;
      height: 15.625em;
      resize: none;
    }
    .country-selector {
      grid-row: span 2;
      margin: 0;
      padding: 0;
      height: max-content;
      overflow: hidden;
      display: grid;
      grid-template-columns: auto;
      gap: 0.25em;
      font-size: 16px;
      list-style: none;
      width: 0;
      transition: all 400ms;
      &.active {
        margin-right: 1.25em;
        width: 13em;
        overflow-y: auto;
      }
      button {
        width: 13em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        cursor: pointer;
        background-color: #fafafa;
        border: 1px solid #f5f5f5;
        border-radius: 0.5em;
        transition: all 150ms;
        span {
          color: #757575;
          font-size: 0.8em;
        }
        &:hover {
          border: 1px solid #e0e0e0;
          background-color: #eee;
        }
        &.active {
          font-weight: bold;
          background-color: #f5f5f5;
          border: 1px solid #e0e0e0;
          &:hover {
            cursor: default;
            background-color: #f5f5f5;
          }
        }
      }
    }
    .overall-stats, .match-stats {
      padding: 0.5em 1em;
      border: 1px solid #eee;
      border-radius: 5px;
      background: #fafafa;
      box-sizing: border-box;
    }
    .overall-stats {
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
          margin-right: 1em;
        }
      }
      display: grid;
      .selector {
        margin: 0 0 1em;
        font-size: 1em;
        width: fit-content;
        grid-template-columns: repeat(4, auto);
        gap: 0.25em;
        span {
          background-image: none;
          background-color: #eee;
          &.view-0 {
            width: 27.5%;
          }
          &.view-1 {
            width: 19%;
            transform: translateX(150%);
          }
          &.view-2 {
            width: 9.6em;
            transform: translateX(14.7em);
          }
          &.view-3 {
            width: 6em;
            transform: translateX(24.5em);
          }
        }
      }
    }
    .match-stats {
      min-width: 0;
      max-width: 100%;
      width: 100%;
      .stats-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
      }
      ul {
        list-style: none;
        height: min-content;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.25em;
        font-size: 1.25em;
        text-align: right;
        li {
          border-radius: 0.25em;
          padding: 0.5em;
          background-color: #eee;
          font-weight: bold;
          box-shadow: 0 2px 2px #e0e0e0;
          span {
            color: #424242;
            font-size: 0.75em;
            font-weight: normal;
          }
          &:nth-child(1) {
            grid-column: span 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-image: linear-gradient(to bottom right, #f5f5f5, #eceff1);
            i {
              font-size: 1.5em;
              margin-left: 0.15em;
              margin-bottom: 0.15em;
              color: #37474f;
              text-shadow: 0 0.15em 0.5em #90a4ae;
            }
          }
          &:nth-child(2) {
            background-image: linear-gradient(to bottom right, #f5f5f5, #e8f5e9);
          }
          &:nth-child(3) {
            background-image: linear-gradient(to bottom right, #f5f5f5, #ffebee);
          }
          &:nth-child(4) {
            background-image: linear-gradient(to bottom right, #f5f5f5, #fff8e1);
          }
          &:nth-child(5) {
            background-image: linear-gradient(to bottom right, #f5f5f5, #e1f5fe);
          }
        }
      }
    }
  }
  .records {
    margin: 3.5em auto 3em;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1em;
    font-size: 18px;
    h4 {
      font-size: 1em;
      font-weight: 500;
      margin: 0;
      color: #212121;
    }
    span {
      display: inline-block;
      font-size: 1.5em;
      font-weight: bold;
      color: #000;
      text-shadow: 0 0.15em 0.25em #cfd8dc;
      margin: 0.5em 0;
    }
    p {
      margin: 0;
      font-size: 0.8em;
      color: #616161;
    }
    .record {
      border-radius: 0.25em;
      padding: 1em;
      background-image: linear-gradient(to bottom right, #fafafa, #eceff1);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    }
  }
  .verdict {
    font-size: 24px;
    i {
      position: absolute;
      font-size: 2em;
      top: 0;
      left: 0;
      transform: translateX(-0.25em) translateY(-0.25em) rotate(-15deg);
      color: #f9a825;
      text-shadow: 0 0.1em 0.25em #ffe0b2;
    }
    p {
      position: relative;
      max-width: 23em;
      margin: 3em auto 6em;
      padding: 1.25em 1.75em;
      line-height: 1.75em;
      border: 1px solid #eee;
      border-radius: 0.5em;
      letter-spacing: -0.025em;
      background-image: linear-gradient(to bottom right, #fafafa, #f5f5f5);
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    }
    span {
      display: inline-block;
      position: relative;
      white-space: nowrap;
      text-decoration: underline dotted #757575 0.1em;
      cursor: help;
      font-weight: 500;
      .tooltip {
        cursor: default;
        font-size: 0.75em;
        padding: 0.75em;
        line-height: 1em;
        border: 1px solid #eee;
        border-radius: 0.5em;
        width: max-content;
        text-align: right;
        background-color: #fff;
        white-space: normal;
        visibility: hidden;
        position: absolute;
        margin-top: -3.75em;
        transition: all 100ms;
        opacity: 0;
        top: 0;
        left: 0;
        transform: translateX(-2.75em);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        a {
          display: inline-block;
          margin-top: 0.5em;
          font-style: italic;
          font-weight: normal;
          color: #616161;
          font-size: 0.85em;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &:hover {
        .tooltip {
          visibility: visible;
          margin-top: -4.1em;
          opacity: 1;
        }
      }
    }
  }
}
footer {
  font-size: 18px;
  text-align: center;
  padding: 1em 0.25em;
  background: #eee;
  .fa-coffee {
    color: #5d4037;
  }
  .fa-code {
    color: #424242;
  }
  .fa-heart {
    color: #b71c1c;
  }
  .portfolio-link {
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  span {
    margin-left: 1em;
    cursor: default;
    user-select: none;
  }
  .github-link {
    color: #616161;
    text-decoration: none;
    margin-left: 1em;
    &:hover {
      color: #757575;
    }
  }
}

@media only screen and (max-width: 1890px) {
  section#body {
    margin-top: 300px;
  }
}
@media only screen and (max-width: 1720px) {
  section#body {
    margin-top: 200px;
  }
}
@media only screen and (max-width: 1630px) {
  section#hero {
    .content-wrapper {
      font-size: 22px;
    }
  }
  section#body {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 1536px) {
  section#hero {
    .content-wrapper {
      font-size: 20px;
    }
  }
  section#body {
    margin-top: 0;
  }
  .container {
    max-width: 1280px;
  }
}

@media only screen and (max-width: 1440px) {
  section#body {
    margin-top: -50px;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  section#hero {
    .content-wrapper {
      font-size: 18px;
    }
    h1 {
      font-size: 3.75em;
    }
  }
  section#body {
    h2 {
      font-size: 28px;
    }
    .selector {
      font-size: 18.65px;
    }
    .overview {
      font-size: 16px;
      table {
        &.active {
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }
      }
    }
    .odi-stats {
      .group-selector {
        font-size: 16px;
        margin: 0 auto 28px;
      }
      .country-selector {
        font-size: 15px;
        &.active {
          margin-right: 1em;
        }
      }
      .content {
        font-size: 14px;
      }
    }
    .records {
      font-size: 16px;
    }
    .verdict {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  section#hero {
    .content-wrapper {
      max-width: 95%;
    }
    .description {
      max-width: 65%;
    }
    h1 {
      font-size: 3.5em;
    }
  }
  section#body {
    .overview {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 40px 14px;
    max-width: 640px;
  }
  section#hero {
    .foreground {
      object-position: 60% center;
    }
    .content-wrapper {
      padding-left: 20px;
    }
    h1 {
      font-size: 3em;
    }
  }
  section#body {
    .overview {
      width: 100%;
      font-size: 13px;
      .table-slider {
        width: 100%;
        box-sizing: border-box;
      }
      .table-wrapper {
        overflow-x: auto;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 0.5em;
      }
      table {
        width: max-content;
      }
    }
    h2 {
      font-size: 24px;
    }
    .odi-stats {
      .content-wrapper {
        grid-template-columns: auto;
      }
      .country-selector {
        height: 0;
        width: 100%;
        grid-template-columns: repeat(4, auto);
        &.active {
          width: 100%;
          height: 13.5em;
          margin: 0 0 17.5px 0;
        }
        button {
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: start;
          width: 100%;
          span {
            display: block;
          }
        }
      }
    }
    .records {
      grid-template-columns: repeat(3, auto);
    }
  }
}

@media only screen and (max-width: 640px) {
  .container {
    max-width: 100%;
  }
  section#hero {
    h1 {
      font-size: 2.75em;
      margin-top: 0.9em;
    }
  }
  section#body {
    .odi-stats {
      width: 100%;
      .overall-stats {
        .header {
          width: 100%;
          h3 {
            margin-right: 0.25em;
          }
        }
        .selector {
          grid-template-columns: auto auto;
          justify-items: center;
          width: fit-content;
          button {
            padding: 0.5em 0.25em;
          }
          span {
            border-radius: 5px;
            height: 2.25em;
            &.view-0 {
              width: 8em;
            }
            &.view-1 {
              width: 5em;
              transform: translateX(8em);
            }
            &.view-2 {
              width: 8.5em;
              transform: translateX(-0.25em) translateY(2.35em);
            }
            &.view-3 {
              width: 5em;
              transform: translateX(8.05em) translateY(2.35em);
            }
          }
        }
      }
    }
    .verdict {
      p {
        margin: 3em 2em 6em;
      }
    }
  }
  footer {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  section#hero {
    .foreground {
      object-position: 65% center;
    }
    .content-wrapper {
      font-size: 15px;
    }
    h1 {
      margin-top: 0.75em;
    }
  }
  section#body {
    .odi-stats {
      .country-selector {
        grid-template-columns: repeat(3, auto);
        &.active {
          height: 16.75em;
        }
      }
    }
    .records {
      grid-template-columns: auto auto;
    }
  }
  footer {
    font-size: 14px;
    .container {
      padding: 20px 5px;
    }
    span, .github-link {
      margin-left: 0.5em;
    }
  }
}

@media only screen and (max-width: 360px) {
  section#hero {
    .content-wrapper {
      font-size: 12px;
    }
    h1 {
      margin-top: 0.5em;
    }
  }
  section#body {
    .verdict {
      font-size: 18px;
    }
    .odi-stats {
      .country-selector {
        grid-template-columns: auto auto;
        &.active {
          height: 27em;
        }
      }
    }
  }
}