.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin: 0 0;
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax__layer {
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--foreground {
  transform: translateZ(-0.5px) scale(1.5);
}

.parallax__layer--content {
  transform: translateZ(-1px) scale(2);
}

.parallax__layer--background {
  transform: translateZ(-2px) scale(3);
}

.container {
  margin: 0 auto;
  padding: 50px 10px;
  max-width: 1536px;
}

section#hero {
  color: white;
}
section#hero img {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}
section#hero .ball {
  margin-top: 300px;
  pointer-events: none;
}
section#hero .info {
  background-image: linear-gradient(to bottom, #000, transparent, transparent);
}
section#hero .info .infoWrapper {
  padding: 0 40px;
  max-width: 50%;
}
section#hero .info h1 {
  margin-top: 1.5em;
  font-size: 96px;
  font-weight: bold;
  letter-spacing: -0.025em;
}
section#hero .info p {
  line-height: 1.5em;
}
section#hero .info p, section#hero .info button {
  font-size: 24px;
}
section#hero .info button {
  display: flex;
  padding: 0;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 150ms;
  color: #9e9e9e;
}
section#hero .info button i {
  font-size: 18px;
  color: #757575;
  transition: all 150ms;
  margin: 5px 0 0 10px;
}
section#hero .info button:hover {
  color: #e0e0e0;
}
section#hero .info button:hover i {
  color: #e0e0e0;
  transform: translateY(3px);
}

section#body {
  margin-top: 480px;
}
section#body .svgWave {
  width: 100%;
}
section#body main {
  background: #fff;
  margin-top: -5px;
}
section#body h2 {
  margin: 0;
  margin-bottom: 1em;
  font-size: 36px;
  letter-spacing: -0.025em;
}
section#body .selector {
  padding: 0;
  margin: 0;
  display: grid;
  font-size: 24px;
  gap: 1em;
  list-style: none;
  position: relative;
  align-items: center;
}
section#body .selector span {
  position: absolute;
  z-index: 0;
  height: 100%;
  background-image: linear-gradient(to bottom right, #f5f5f5, #eceff1);
  border-radius: 50px;
  transition: all 400ms;
  top: 0;
  left: 0;
}
section#body .selector li {
  z-index: 1;
}
section#body .selector button {
  font-weight: 500;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 50px;
  border: none;
  background: none;
  color: #9e9e9e;
  transition: all 400ms;
}
section#body .selector button:hover {
  color: #212121;
}
section#body .selector button.active {
  color: #000;
}
section#body .overview {
  margin: 0 auto;
  width: max-content;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}
section#body .overview .selector {
  margin: 10px 0;
  grid-template-columns: repeat(3, auto);
}
section#body .overview .selector span.batting {
  width: 29%;
}
section#body .overview .selector span.bowling {
  width: 30%;
  transform: translateX(114%);
}
section#body .overview .selector span.fielding {
  width: 30%;
  transform: translateX(233%);
}
section#body .overview .table-slider {
  width: 1000px;
  height: 400px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  transition: all 100ms;
  position: relative;
}
section#body .overview .table-slider.batting .table-wrapper:nth-child(1) {
  transform: translateX(0px);
}
section#body .overview .table-slider.batting .table-wrapper:nth-child(2) {
  transform: translateX(1000px);
}
section#body .overview .table-slider.batting .table-wrapper:nth-child(3) {
  transform: translateX(2000px);
}
section#body .overview .table-slider.bowling .table-wrapper:nth-child(1) {
  transform: translateX(-1000px);
}
section#body .overview .table-slider.bowling .table-wrapper:nth-child(2) {
  transform: translateX(0px);
}
section#body .overview .table-slider.bowling .table-wrapper:nth-child(3) {
  transform: translateX(1000px);
}
section#body .overview .table-slider.fielding .table-wrapper:nth-child(1) {
  transform: translateX(-2000px);
}
section#body .overview .table-slider.fielding .table-wrapper:nth-child(2) {
  transform: translateX(-1000px);
}
section#body .overview .table-slider.fielding .table-wrapper:nth-child(3) {
  transform: translateX(0px);
}
section#body .overview .table-wrapper {
  min-width: 1000px;
  position: absolute;
  transition: all 400ms;
  margin-top: -40px;
}
section#body .overview table {
  font-size: 18px;
  margin: 0 auto;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
section#body .overview table th, section#body .overview table td {
  padding: 0.5em;
  text-align: center;
}
section#body .overview table th.left, section#body .overview table td.left {
  text-align: left;
}
section#body .overview table span {
  font-size: 0.8em;
  color: #616161;
}
section#body .odi-stats {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 20px;
}
section#body .odi-stats .group-selector {
  margin: 0 auto 36px;
  display: flex;
  width: max-content;
  align-items: center;
  font-size: 20px;
}
section#body .odi-stats .group-selector .selector {
  margin: 10px 0 10px 0.5em;
  grid-template-columns: auto auto;
  gap: 0;
}
section#body .odi-stats .group-selector .selector span.year {
  width: 36%;
}
section#body .odi-stats .group-selector .selector span.opposition {
  width: 60%;
  transform: translateX(64%);
}
section#body .odi-stats .content-wrapper {
  display: flex;
}
section#body .odi-stats .content {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  width: max-content;
}
section#body .odi-stats .content h3 {
  font-size: 22px;
  margin: 0.25em 0 1em 0;
}
section#body .odi-stats .line-chart {
  max-width: 600px;
  width: 100%;
  height: 200px;
}
section#body .odi-stats .pie-chart {
  width: 400px;
  height: 250px;
}
section#body .odi-stats .country-selector {
  grid-row: span 2;
  margin: 0;
  padding: 0;
  height: max-content;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto;
  gap: 0.25em;
  font-size: 16px;
  list-style: none;
  width: 0;
  transition: all 400ms;
}
section#body .odi-stats .country-selector.active {
  margin-right: 1.25em;
  width: 13em;
  overflow-y: auto;
}
section#body .odi-stats .country-selector button {
  width: 13em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
  background-color: #fafafa;
  border: 1px solid #f5f5f5;
  border-radius: 0.5em;
  transition: all 150ms;
}
section#body .odi-stats .country-selector button span {
  color: #757575;
  font-size: 0.8em;
}
section#body .odi-stats .country-selector button:hover {
  border: 1px solid #e0e0e0;
  background-color: #eee;
}
section#body .odi-stats .country-selector button.active {
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
}
section#body .odi-stats .country-selector button.active:hover {
  cursor: default;
  background-color: #f5f5f5;
}
section#body .odi-stats .country-selector::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}
section#body .odi-stats .country-selector::-webkit-scrollbar {
  width: 0.4em;
  background-color: #F5F5F5;
}
section#body .odi-stats .country-selector::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bdbdbd;
  transition: all 100ms;
}
section#body .odi-stats .country-selector::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
section#body .odi-stats .country-selector::-webkit-scrollbar-thumb:active {
  background-color: #9e9e9e;
}
section#body .odi-stats .overall-stats, section#body .odi-stats .match-stats {
  padding: 8px 16px;
  border: 1px solid #eee;
  border-radius: 5px;
  background: #fafafa;
}
section#body .odi-stats .overall-stats {
  display: grid;
}
section#body .odi-stats .overall-stats .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#body .odi-stats .overall-stats .header h3 {
  margin-right: 1em;
}
section#body .odi-stats .overall-stats .selector {
  margin: 0 0 1em;
  font-size: 16px;
  width: fit-content;
  grid-template-columns: repeat(4, auto);
  gap: 0.25em;
}
section#body .odi-stats .overall-stats .selector span {
  background-image: none;
  background-color: #eee;
}
section#body .odi-stats .overall-stats .selector span.view-0 {
  width: 27.5%;
}
section#body .odi-stats .overall-stats .selector span.view-1 {
  width: 19%;
  transform: translateX(150%);
}
section#body .odi-stats .overall-stats .selector span.view-2 {
  width: 9.6em;
  transform: translateX(14.7em);
}
section#body .odi-stats .overall-stats .selector span.view-3 {
  width: 6em;
  transform: translateX(24.5em);
}
section#body .odi-stats .match-stats .stats-wrapper {
  display: flex;
  align-items: center;
}
section#body .odi-stats .match-stats ul {
  list-style: none;
  height: min-content;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.25em;
  font-size: 20px;
  text-align: right;
}
section#body .odi-stats .match-stats ul li {
  border-radius: 0.25em;
  padding: 0.5em;
  background-color: #eee;
  font-weight: bold;
  box-shadow: 0 2px 2px #e0e0e0;
}
section#body .odi-stats .match-stats ul li span {
  color: #424242;
  font-size: 0.75em;
  font-weight: normal;
}
section#body .odi-stats .match-stats ul li:nth-child(1) {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom right, #f5f5f5, #eceff1);
}
section#body .odi-stats .match-stats ul li:nth-child(1) i {
  font-size: 1.5em;
  margin-left: 0.15em;
  margin-bottom: 0.15em;
  color: #37474f;
  text-shadow: 0 0.15em 0.5em #90a4ae;
}
section#body .odi-stats .match-stats ul li:nth-child(2) {
  background-image: linear-gradient(to bottom right, #f5f5f5, #e8f5e9);
}
section#body .odi-stats .match-stats ul li:nth-child(3) {
  background-image: linear-gradient(to bottom right, #f5f5f5, #ffebee);
}
section#body .odi-stats .match-stats ul li:nth-child(4) {
  background-image: linear-gradient(to bottom right, #f5f5f5, #fff8e1);
}
section#body .odi-stats .match-stats ul li:nth-child(5) {
  background-image: linear-gradient(to bottom right, #f5f5f5, #e1f5fe);
}

footer {
  text-align: center;
  padding: 20px 4px;
  font-size: 18px;
  background: #eee;
}
footer .fa-coffee {
  color: #5d4037;
}
footer .fa-code {
  color: #424242;
}
footer .fa-heart {
  color: #b71c1c;
}
footer span, footer a {
  color: #616161;
  text-decoration: none;
  margin-left: 1em;
}
footer a:hover {
  color: #757575;
}

@media only screen and (max-width: 1890px) {
  section#body {
    margin-top: 300px;
  }
}
@media only screen and (max-width: 1720px) {
  section#body {
    margin-top: 200px;
  }
}
@media only screen and (max-width: 1630px) {
  section#body {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 1536px) {
  section#body {
    margin-top: 0;
  }

  .container {
    max-width: 1280px;
  }
}
@media only screen and (max-width: 1440px) {
  section#body {
    margin-top: -50px;
  }
}
@media only screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media only screen and (max-width: 640px) {
  .container {
    max-width: 100%;
  }
}

/*# sourceMappingURL=App.css.map */
