.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin: 0 0;
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax__layer {
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--foreground {
  transform: translateZ(-0.5px) scale(1.5);
}
.parallax__layer--content {
  transform: translateZ(-1px) scale(2);
}
.parallax__layer--background {
  transform: translateZ(-2px) scale(3);
}
.container {
  margin: 0 auto;
  padding: 50px 20px;
  max-width: 1536px;
}

section#hero {
  color: white;
  img {
    width: 100%;
  }
  .ball {
    margin-top: 300px;
    pointer-events: none;
  }
  .info {
    background-image: linear-gradient(to bottom, #000, transparent, transparent);
    .infoWrapper {
      padding: 0 40px;
      max-width: 50%;
    }
    h1 {
      margin-top: 1.5em;
      font-size: 96px;
      font-weight: bold;
      letter-spacing: -0.025em;
    }
    p {
      line-height: 1.5em;
    }
    p, button {
      font-size: 24px;
    }
    button {
      display: flex;
      padding: 0;
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;
      transition: all 150ms;
      color: #9e9e9e;
      i {
        font-size: 18px;
        color: #757575;
        transition: all 150ms;
        margin: 5px 0 0 10px;
      }
      &:hover {
        color: #e0e0e0;
        i {
          color: #e0e0e0;
          transform: translateY(3px);
        }
      }
    }
  }
}


@mixin slide($offset, $distance) {
  @for $i from 0 to 3 {
    .table-wrapper:nth-child(#{$i+1}) {
      transform: translateX(($i - $offset) * $distance + px);
    }
  }
}

section#body {
  margin-top: 480px;
  .svgWave{
    width: 100%;
  }
  main {
    background: #fff;
    margin-top: -5px;
  }
  h2 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 36px;
    letter-spacing: -0.025em;
  }
  .overview {
    margin: 0 auto;
    width: max-content;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    .selector {
      margin: 10px 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(3, auto);
      font-size: 24px;
      gap: 1em;
      list-style: none;
      position: relative;
      span {
        position: absolute;
        z-index: 0;
        width: 29%;
        height: 100%;
        background-image: linear-gradient(to bottom right, #f5f5f5, #eceff1);
        border-radius: 50px;
        transition: all 400ms;
        top: 0;
        left: 0;
        &.bowling {
          width: 30%;
          transform: translateX(114%);
        }
        &.fielding {
          width: 30%;
          transform: translateX(233%);
        }
      }
      li {
        z-index: 1;
      }
      button {
        font-weight: 500;
        cursor: pointer;
        padding: 0.5em 1em;
        border-radius: 50px;
        border: none;
        background: none;
        color: #9e9e9e;
        transition: all 400ms;
        &:hover {
          color: #212121;
        }
        &.active {
          color: #000;
        }
      }
    }
    .table-slider {
      width: 1000px;
      height: 400px;
      display: flex;
      align-items: center;
      overflow-x: hidden;
      transition: all 100ms;
      position: relative;
      &.batting {
        @include slide(0, 1000);
      }
      &.bowling {
        @include slide(1, 1000);
      }
      &.fielding {
        @include slide(2, 1000);
      }
    }
    .table-wrapper {
      min-width: 1000px;
      position: absolute;
      transition: all 400ms;
      margin-top: -40px;
    }
    table {
      margin: 0 auto;
      padding: 0.5em;
      border-radius: 10px;
      border: 1px solid #eee;
      --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      th, td {
        padding: 0.5em;
        text-align: center;
        &.left {
          text-align: left;
        }
      }
      span {
        font-size: 0.8em;
        color: #616161;
      }
    }
  }
}
footer {
  text-align: center;
  padding: 20px 4px;
  font-size: 18px;
  background: #eee;
  i {
    color: #424242;
  }
}

@media only screen and (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    max-width: 100%;
  }
}
